{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
       <!-- start: Header -->
        {% include 'demo_head.html' %}
    </head>
    <body>
        <!-- start: NavBar -->
        {% include 'demo_navbar2.html' %}
        <p></p>
        <!-- start: Page Content -->
        <div class="container-fluid">
                <div class='col-sm-12 col-md-12 col-lg-12'>
                    <div class='col-sm-4 col-md-4 col-lg-4'>
                    <p class='lead text-align-center'><strong>Data of the Future </strong></p>
                        <h4> We are the data scientists, business analysts and database managers. We're here to help you leverage your data </h4>

                        <ul class="about-list">
                                <li>
                                    <span class="fa fa-dot-circle-o"></span>
                                    <strong>No Data Scientist Required</strong> - 
                                    <em>We do the hard work for you so you can focus on the results and what you do best</em>
                                    <br></br>
                                </li>
                                <li>
                                    <span class="fa fa-dot-circle-o"></span>
                                    <strong>Painless Guided Setup</strong> - 
                                    <em>Guided 1 step installation for all your data sources</em>
                                    <br></br>
                                </li>
                                <li>
                                    <span class="fa fa-dot-circle-o"></span>
                                    <strong>Cost Effective</strong> - 
                                    <em>We automate all the boring stuff so you get best at a fraction of the cost of a traditional setup</em>
                                    <br></br>
                                </li>
                                <li>
                                    <span class="fa fa-dot-circle-o"></span>
                                    <strong>Ask your Data Questions</strong> - 
                                    <em>Just ask a business question, the answer will be 1 step away</em>
                                    <br></br>
                                </li>
                            </ul>

                <p><a class="btn btn-success btn-lg" href="{% url 'dret' %}" role="button">Start by Asking a Question</a></p>
                </div>
                
                <div class='col-sm-8 col-md-8 col-lg-8'>
                <img src='{% static "img/howitworks.png" %}' class='img-responsive' />
                </div>
        </div>
        </div>



<!-- start: Footer -->
{% include 'demo_footer.html' %}
    </body>
</html>
