{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
       <!-- start: Header -->
        {% include 'demo_head.html' %}
    </head>
    <body>
        <!-- start: NavBar -->
        {% include 'demo_navbar2.html' %}
        <p></p>
        <!-- start: Page Content -->

        <div class="container-fluid">

        <div class='col-sm-12 col-md-12 col-lg-12'>  
            <p class='lead text-align-center'><strong>Guided Analytics</strong></p>    
            <p>The more data sources you connect, the more complete profile you have for your customers </p>
            <p>29th Century automatically creates dashboards that you slice and dice</p>
            <p>refunds. customer. just use existing data from past. Uses Customer support, Stripe, Sales, + Behavioural. Then push for credit refunds- add refunds charts ie segment by past purchases. product level (refunded product), find worst products with highest shit rate</p>

            <a href="{% url 'home' %}" class="btn btn-success btn-lg btn-large lato">Home</a>
            <br></br>
        </div>
                <!-- <div class="row"> -->
                <div class="row"> 
                
                        </div>

    </div>





<!-- start: Footer -->
{% include 'demo_footer.html' %}
    <script src="{% static 'js/dguided.js' %}" type='text/javascript'></script>
    </body>
</html>

