{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
       <!-- start: Header -->
        {% include 'demo_head.html' %}
    </head>
    <body>
        <!-- start: NavBar -->
        {% include 'demo_navbar2.html' %}
        <p></p>
        <!-- start: Page Content -->

        <div class="container-fluid">

        <div class='col-sm-6 col-md-6 col-lg-6'>  
            <p class='lead text-align-center'><strong>Ask a Question Like You Would a Person</strong></p>   
                        <p>No more technical jargon. If you have a business questiion for your data, just ask</p>

                            <p><strong>The Demo currently answers questions on Refunds & Top Customers</strong></p> 

        <!-- Seach Box -->
        <input type="text" class="searchFilter" onblur="if(this.value == '')this.value='Search'" onfocus="this.value==this.defaultValue?this.value='':null" value="Search" name="search">
        
        <!-- List For Search -->
        <div class="searchable">
        <table class="table table-bordered table-striped">
          <thead>
              <tr>
                <th>Newest Questions</th>
                <th>Answer Available?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>How does Gender affect Refund Behaviour?</td>
                <td><a href="{% url 'dguided' %}" class="btn btn-standard lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>How does Product Category affect Refund Behaviour?</td>
                <td><a href="{% url 'dguided' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>How does Refunded Amount affect Refund Behaviour?</td>
                <td><a href="{% url 'dguided' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>How does Previous Purchases affect Refund Behaviour?</td>
                <td><a href="{% url 'dguided' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>How does Refund Reason affect Refund Behaviour?</td>
                <td><a href="{% url 'dguided' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>

              <tr>
                <td>Who are my Top Customers?</td>
                <td><a href="{% url 'dtop' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>Who are my Top Customers by Customer State?</td>
                <td><a href="{% url 'dtop' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>Who are my Top Customers by Product Name?</td>
                <td><a href="{% url 'dtop' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>Who are my Top Customers by Customer Status?</td>
                <td><a href="{% url 'dtop' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>Who are my Top Customers by Product Category?</td>
                <td><a href="{% url 'dtop' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>
              <tr>
                <td>Who are my Top Customers by Gender?</td>
                <td><a href="{% url 'dtop' %}" class="btn btn-success lato">1 Step Answer</a></td>
              </tr>


  
            </tbody>
          </table>
        </div>
        </div>
                <!-- <div class="row"> -->
                <div class="row"> 

                    </div>
                    </div>
  



                    





<!-- start: Footer -->
{% include 'demo_footer.html' %}
    <script src="{% static 'js/dret.js' %}" type='text/javascript'></script>
    <script type="text/javascript" src="{% static 'js/zsimpleContentSearch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zdemo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zprettify.js' %}"></script>
    </body>
</html>

