{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
       <!-- start: Header -->
        {% include 'demo_head.html' %}
    </head>
    <body>
        <!-- start: NavBar -->
        {% include 'demo_navbar2.html' %}
        <p></p>
        <!-- start: Page Content -->

        <div class="container-fluid">

        <div class='col-sm-12 col-md-12 col-lg-12'>  
            <p class='lead text-align-center'><strong>Automated Insights - Customer Retention</strong></p>   
                        <p>Our analytics engine tracks your data and when certain conditions are met, one of our live Monkeys will step up and generate the report for you</p>

                            <p><strong>Here is a sample report on customer retention- the key to building a sustainable & profitable business</strong></p> 

            <a href="{% url 'dguided' %}" class="btn btn-success btn-lg btn-large lato">I love you guys. What's next?</a>
            <br></br>
        </div>
                <!-- <div class="row"> -->
                <div class="row"> 

                    </div>
                    </div>
                    </div>

                    





<!-- start: Footer -->
{% include 'demo_footer.html' %}
    <script src="{% static 'js/dret.js' %}" type='text/javascript'></script>
    </body>
</html>

