{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
       <!-- start: Header -->
        {% include 'demo_head.html' %}
    </head>
    <body>
        <!-- start: NavBar -->
        {% include 'demo_navbar2.html' %}
        <p></p>
        <!-- start: Page Content -->

        <div class="container-fluid">

        <div class='col-sm-12 col-md-12 col-lg-12'>  
            <p class='lead text-align-center'><strong>Cure DashPhobia with Easy Slice & Dice</strong></p>    
            <h4>For every data source you connect, we automatically generate customizable dashboards for you </h4>
            <h4>We help you discover what really matters</h4>

            <a href="{% url 'dret' %}" class="btn btn-success btn-lg btn-large lato">Next - Automated Insights</a>
            <br></br>
        </div>
                <!-- <div class="row"> -->
                <div class="row"> 
                <div class='col-sm-6 col-md-6 col-lg-6'>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="span3" id="menuState" style="background-color: #fff; height: 60px;">
                            <div class="chart-title">  <strong> Customer State </strong> </div>                 
                        </div>

                    </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="span3" id="menuProdCat" style="background-color: #fff; height: 60px;">
                            <div class="chart-title">  <strong> Product Category </strong> </div>                 
                        </div>
                </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="span3" id="menuProdName" style="background-color: #fff; height: 60px;">
                            <div class="chart-title">  <strong> Product Name </strong> </div>                 
                        </div>
                    </div>

                        <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="span3" id="menuGender" style="background-color: #fff; height: 60px;">
                            <div class="chart-title">  <strong> Gender </strong> </div>                 
                        </div>

                </div>
<!--                         <div class="col-sm-3">
                        <div class="span3" id="menuselect5" style="background-color: #fff; height: 60px;">
                            <div class="chart-title">  <strong> Month </strong> </div>                 
                        </div>


                </div> -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="span3" id="menuStatus" style="background-color: #fff; height: 60px;">
                            <div class="chart-title">  <strong> Customer New/Return </strong> </div>                 
                        </div>
                    </div>

                        <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="span3" id="row-selection" style="background-color: #fff; height: 60px;">
                        <span class="filter-count">_</span> <strong>selected out of </strong><span class="total-count">_</span><strong> orders </strong>|
                    </div>
                    </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="span3" style="background-color: #fff; height: 60px;">
                            <a href='javascript:dc.filterAll();dc.redrawAll();' class="btn btn-default btn-lg  lato">Reset Selection</a>                
                        </div>
                    </div>

                </div>

                         <div class='col-sm-6 col-md-6 col-lg-6'>
                        <div class="span6 chart-wrapper"  id="newcust-chart">
                            <div class="chart-title bold"> <strong> Monthly Orders # </strong></div>

                        </div>
                    </div>

                    </div>
                <div class="row">

                            <div class="chart-title bold"> <strong> Top 25 Customers</strong>
                            <div class='span6'  id="topcust-chart"></div>
                        </div>

                        </div>

    </div>





<!-- start: Footer -->
{% include 'demo_footer.html' %}
    <script src="{% static 'js/dtop.js' %}" type='text/javascript'></script>
    </body>
</html>

